*.o
*.la
*.lo
*.tar.gz
*.gcno
*.gcda
*.gcov
*~

.deps
.libs
.project
.cproject
.settings

aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.rpath
config.status
config.sub
configure
configure.tmp
depcomp
install-sh
INSTALL
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
stamp-h1
temp.txt

/module/p11-kit.pc

/po/POTFILES
/po/stamp-po

/tests/coverage
/tests/coverage.info
/tests/hash-test
/tests/conf-test
