*.o
*.la
*.lo
*.bak
*.exe
*.tar.gz
*.sig
*.gcno
*.gcda
*.gcov
*.gmo
*~
*.html
*.log
*.pot
*.so
*.stamp
*.tmp
*.trs

.deps
.libs
.project
.cproject
.settings
.tx

ABOUT-NLS
aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.rpath
config.status
config.sub
configure
configure.tmp
depcomp
install-sh
INSTALL
libtool
ltmain.sh
makefile
Makefile
Makefile.in
missing
stamp-h1
temp.txt
test-driver

local
x86_64-w64-mingw32

/*/tests/test-*
!/*/tests/test-*.[ch]
/*/tests/frob-*
!/*/tests/frob-*.[ch]

/x86_64_w64-mingw32/

/build/m4/*.m4
/build/coverage
/build/coverage.info
/local

/common/tests/hash-test

/doc/manual/html
/doc/manual/p11-kit-decl-list.txt
/doc/manual/p11-kit-decl.txt
/doc/manual/p11-kit-undeclared.txt
/doc/manual/p11-kit-undocumented.txt
/doc/manual/p11-kit-unused.txt
/doc/manual/p11-kit.args
/doc/manual/p11-kit.hierarchy
/doc/manual/p11-kit.interfaces
/doc/manual/p11-kit.prerequisites
/doc/manual/p11-kit.signals
/doc/manual/p11-kit.types
/doc/manual/tmpl/
/doc/manual/sysdir.xml
/doc/manual/userdir.xml
/doc/manual/version.xml
/doc/manual/xml/
/doc/manual/*.5
/doc/manual/*.8

/p11-kit/p11-kit
/p11-kit/p11-kit.pc
/p11-kit/p11-kit-1.pc
/p11-kit/pkcs11.conf.example

/po/POTFILES
/po/stamp-po
/po/remove-potcdate.sed
/po/Makefile.in.in
/po/Makevars.template
/po/en@boldquot*
/po/en@quot*
/po/Rules-quot

/p11-kit/tests/p11-test
/p11-kit/tests/pin-test
/p11-kit/tests/print-messages
/p11-kit/tests/print-progname
/p11-kit/tests/progname-test
/p11-kit/tests/conf-test
/p11-kit/tests/uri-test

/tools/p11-kit

/trust/trust
/trust/p11-kit-extract-trust

/p11-kit-?.?
