*.o
*.la
*.lo
*.tar.gz

.deps
.libs
.project
.cproject
.settings

aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
configure.tmp
depcomp
install-sh
INSTALL
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
stamp-h1
