name: test
on: [push, pull_request]
env:
  BUILDDIR: "builddir"
  INSTALLDIR: "installdir"
  RUNUSER: "user"
  PROFILE: "testable"
jobs:
  autotools:
    runs-on: ubuntu-latest
    env:
      BUILD_OPTS: --enable-doc
      DISTCHECK: true
    container:
      image: ghcr.io/p11-glue/p11-kit:master
    steps:
      # Checkout repo
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/basic-autotools

  autotools-no-asn1:
    runs-on: ubuntu-latest
    env:
      BUILD_OPTS: --enable-doc --without-libtasn1 --without-trust-paths
    container:
      image: ghcr.io/p11-glue/p11-kit:master
    steps:
      # Checkout repo
      - uses: actions/checkout@v4
        with:
          submodules: true
      - run: dnf remove -y libtasn1-devel
      - uses: ./.github/actions/basic-autotools

  meson-no-asn1:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/p11-glue/p11-kit:master
    steps:
      # Checkout repo
      - uses: actions/checkout@v4
        with:
          submodules: true
      - run: dnf remove -y libtasn1-devel
      - uses: ./.github/actions/basic-meson

  address-sanitizer:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/p11-glue/p11-kit:master
    env:
      MESON_BUILD_OPTS: -Db_sanitize=address
    steps:
      # Checkout repo
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/basic-meson

  undefined-sanitizer:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/p11-glue/p11-kit:master
    env:
      MESON_BUILD_OPTS: -Db_sanitize=undefined
    steps:
      # Checkout repo
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/basic-meson

  scan-build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/p11-glue/p11-kit:master
    env:
      SCAN_BUILD: scan-build --status-bugs
      PROFILE: static-analysis
    steps:
      # Checkout repo
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/basic-meson

  mingw:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/p11-glue/p11-kit:master
    env:
      MESON_BUILD_OPTS: --cross-file build/cross_file_mingw64.txt
      MESON_TEST_OPTS: --num-processes 1
      WINEPATH: /usr/x86_64-w64-mingw32/sys-root/mingw/bin
    steps:
      # Checkout repo
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/basic-meson

  cppcheck:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/p11-glue/p11-kit:master
    env:
      PROFILE: static-analysis
    steps:
      # Checkout repo
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/basic-meson
      - run: |
          cppcheck --project=$GITHUB_WORKSPACE/$BUILDDIR/compile_commands.json --quiet --inline-suppr --template='{file}:{line},{severity},{id},{message}' --error-exitcode=1 -DSO_PEERCRED -D__cppcheck__ --suppress=normalCheckLevelMaxBranches

  coverage:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/p11-glue/p11-kit:master
    env:
      MESON_BUILD_OPTS: -Db_coverage=true
      PROFILE: coverage
    steps:
      # Checkout repo
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/basic-meson
      - name: Use legacy crypto-policies for Coveralls
        run: |
          dnf -y install crypto-policies-scripts
          update-crypto-policies --set LEGACY
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.github_token }}
          file: $GITHUB_WORKSPACE/$BUILDDIR/meson-logs/coverage.json

  macos:
    runs-on: macos-latest
    env:
      MESON_BUILD_OPTS: -Dclosures=0
    steps:
      # Checkout repo
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies
        run: |
          brew upgrade -f
          brew install --overwrite coreutils gettext libffi libtasn1 meson
      - name: Update path
        run: |
          echo /usr/local/opt/gettext/bin >>${GITHUB_PATH}
      - uses: ./.github/actions/basic-meson

  libffi:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/p11-glue/p11-kit:master
    env:
      MESON_BUILD_OPTS: -Db_sanitize=address -Db_sanitize=undefined -Dclosures=0
    steps:
      # Checkout repo
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/basic-meson
